data/*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/

# Cache
.cache/
pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/